body{
    font-family: "Montserrat";
    text-align: center;
}

h1{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;

}


/* 1st section */

/* title */

#title{
    background-color: #ff4c68;
    color: #fff;
    margin-top: 30px;
    text-align: left;

}

#title .container-fluid{
    padding: 1% 12% 7%;
    
}

.container-fluid{
    padding: 8% 20%; 
}

/* Navigation bar */
.navbar{
    padding: 1.5rem 4.5rem 1rem;
    background-color: #ff4c68 ;
    
}

.navbar-brand{
    font-family: "ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
    
    
}

.nav-item{
    padding:  0 18px;
}

#titlerow{
    margin-top: 10rem;
}

/* Download buttons */

.download-button{
    margin: 5% 3% 5% 0%;
}


/* tittle image */
.dogpic{
    width: 20%;
    transform: rotate(25deg);
    right: 23%;
    position: absolute;
}


/* 2nd Section */

/* features */
#features{
    padding:0% 2% 2%;
    background-color: white;
    position: relative;
    

}


.featuresText{
   padding: 5%;
}

#features h3{
    font-family:  "Montserrat-Bold";
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    
}

#features p{
    font-family: "ubuntu";
    color: gray;
    
}

.icon{
    color: #ff4c68;
}

.icon:hover{
    color: #ef8172;
}


/* 3rd section */

/* testimonials */

#testimonials {
    /* text-align: center; */
    background-color:#ff4c68 ;
    color: white;
    font-family: "Montserrat-bold";
}

#testimonials h2{
    line-height: 1.5;
    font-size: 3rem;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 10px;
}

/* .carousel-item{
    padding: 7% 15%;

} */

/* 4th section */


/* press */

#press{
    background-color: #ff4c68;
    padding-bottom: 10%;
}
.press-img{
    width: 15%;
    margin: 20px 20px 50px ;
}


/* 5th section */

/* pricing */

#pricing{
    padding: 100px;
}

#pricing h2{
    font-family:  "Montserrat-Bold";
    line-height: 1.5;
    font-size: 3rem;
}

#pricing h3{
font-family:  "Montserrat-Bold";
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

#pricing p{
    font-family: "ubuntu";
    color: gray;
}

.pricing-coloum{
    padding: 3% 2%;
}


/* 6th section */

/* call to action */

#cta{
    background-color: #ff4c68;
    color: white;
}

#cta h3{
    font-family: "Montserrat-Black";
    font-size: 4rem;
}


/* footer */

#footer{
    background-color: white;
    text-align: center;
    /* padding: 7% 15%; */
}

#footer p{
    color: grey;
    font-family: "ubuntu";
}

.social-icon{
    margin: 20px 7px;
}




/* media queries */

@media (max-width:993px) {


    #title{
        text-align: center;
    }

    .dogpic{
        position: static;
        width: 60%;
        transform: rotate(0);
        
    }
}